@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Paleta colores */
h5 {
  background-color: #6ba3a4; /* quaternary */
  background-color: #05a69f; /* secondary */
  background-color: #056573; /* tertiary  */
  background-color: #085b69; /* primary */
  background-color: #1c3c55; /* quinary */
  background-color: #101a1c; /* senary */
}
